<div class="group-brand-items tab-content">
    <div id="home-honda" class="tab-pane fade in active">
        <div class="bike-items text-center col-lg-4 col-md-6 col-sm-6 col-xs-6">
            <div class="bike-item-img">
                <a href="https://giaxe.2banh.vn/honda/vario-2018.html" title="Vario 2020">
                    <img class=" lazyloaded" src="https://giaxe.2banh.vn/cache/dataupload/products/thumbs/267_205_1556333039-86024cad1e83101d97359d7351051156-351-1.jpg" data-src="https://giaxe.2banh.vn/cache/dataupload/products/thumbs/267_205_1556333039-86024cad1e83101d97359d7351051156-351-1.jpg" alt="Vario 2020">
                </a>
            </div>
            <div class="bike-item-info">
                <a href="https://giaxe.2banh.vn/honda/vario-2018.html" title="Vario 2020">
                    <span class="title">Vario 2020</span>
                    <span class="price">
									53.700.000VNĐ									</span>
                    <span class="view_detail">Xem chi tiết</span>
                    <div class="clearfix"></div>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>